  <%= javascript_include_tag "script", "data-turbolinks-track" => true  %>
  <div class="hero">
    <%= image_tag("hand.jpg", class: "hero-img img-fluid") %>

    <div class="hero-caption center">
        <h1 class="caption-lg letter-spacing-md">Welcome to Vendito</h1>
        <h5 class="caption-sm letter-spacing-sm">The One Stop Shop to Buy Sell Trade Exclusive Art</h5>
    </div>

    <div class="container center button-container">
      <div class="scroll-button">
        <button type="button" name="button" id="scroll"><a href='#homepage-collection' data-offset='50'><i class="fa fa-angle-down" aria-hidden="true"></i></a></button>
      </div>
    </div>

  </div><!-- </hero> -->
<!-- </section> -->
<div id="homepage-collection"></div>

  <div class="homepage-collection">
    <h1 class="homepage-subtitle text-center letter-spacing-md caption-md">Featured Products</h1>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <%= image_tag("racebike.jpg", class: "img-fluid product") %>
        </div>
        <div class="col-lg-4 col-sm-6">
          <%= image_tag("racebike.jpg", class: "img-fluid product") %>
        </div>
        <div class="col-lg-4 col-sm-6">
          <%= image_tag("racebike.jpg", class: "img-fluid product") %>
        </div>
        <div class="col-lg-4 col-sm-6">
          <%= image_tag("racebike.jpg", class: "img-fluid product") %>
        </div>
        <div class="col-lg-4 col-sm-6">
          <%= image_tag("racebike.jpg", class: "img-fluid product") %>
        </div>
        <div class="col-lg-4 col-sm-6">
          <%= image_tag("racebike.jpg", class: "img-fluid product") %>
        </div>
        <div class="col-lg-4 col-sm-6">
          <%= image_tag("racebike.jpg", class: "img-fluid product") %>
        </div>
        <div class="col-lg-4 col-sm-6">
          <%= image_tag("racebike.jpg", class: "img-fluid product") %>
        </div>
        <div class="col-lg-4 col-sm-6">
          <%= image_tag("racebike.jpg", class: "img-fluid product") %>
        </div>
        <div class="col-lg-4 col-sm-6">
          <%= image_tag("racebike.jpg", class: "img-fluid product") %>
        </div>
        <div class="col-lg-4 col-sm-6">
          <%= image_tag("racebike.jpg", class: "img-fluid product") %>
        </div>
        <div class="col-lg-4 col-sm-6">
          <%= image_tag("racebike.jpg", class: "img-fluid product") %>
        </div>
        <div class="col-lg-4 col-sm-6">
          <%= image_tag("racebike.jpg", class: "img-fluid product") %>
        </div>
        <div class="col-lg-4 col-sm-6">
          <%= image_tag("racebike.jpg", class: "img-fluid product") %>
        </div>
        <div class="col-lg-4 col-sm-6">
          <%= image_tag("racebike.jpg", class: "img-fluid product") %>
        </div>
        <div class="col-lg-4 col-sm-6">
          <%= image_tag("racebike.jpg", class: "img-fluid product") %>
        </div>
        <div class="col-lg-4 col-sm-6">
          <%= image_tag("racebike.jpg", class: "img-fluid product") %>
        </div>
        <div class="col-lg-4 col-sm-6">
          <%= image_tag("racebike.jpg", class: "img-fluid product") %>
        </div>
      </div><!--row-->
    </div><!--col-->
  </div><!--container-->
