<div class="container">

  <h3 class="center txt-md">Featured Product: <%= @featured_product.name %> </h3>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <% @products.each_with_index do |product, index| %>

      <li data-target="#carouselExampleIndicators" data-slide-to="<%="#{index}" %>"  class="<%= " active" if product == @products.first %>"></li>

      <% end %>
    </ol>
    <div class="carousel-inner">
      <% @products.each do |product| %>
      <div class="carousel-item<%= " active" if product == @products.first %>">
        <%# <%= image_tag(product.image_url, class:"carousel-img") %> %>
        <%= link_to (image_tag(product.image_url, :class => "carosel-img")unless product.image_url.nil?), product %>
        <div class="carousel-caption d-md-block">
          <%= product.name %>
        </div>
      </div>
      <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <div class="carousel-icon-background-left">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </div>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <div class="carousel-icon-background-right">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </div>
      </a>
  </div>
</div>
