<!DOCTYPE html>
<html>
  <head>
    <title>Master Medium</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <div class="wrapper">
      <header class="z2">
        <div class="info-bar">
          <div class="container">
            <div class="d-flex flex-row justify-content-end login-font letter-spacing-sm txt-sm">
              <ul class="user-links">
                <% if user_signed_in? %>
                <li><i class="fas fa-shopping-cart"></i></li>
                <li class="">&nbsp; · &nbsp;</li>
                <li class="">
                  <%= link_to('Sign Out', destroy_user_session_path, method: :delete, class: "sign-up") %>
                </li>
                <% else %>
                <li class="">
                  <%= link_to('Sign In', new_user_session_path, class: "sign-up") %>
                </li>
                <li class="">&nbsp; · &nbsp;</li>
                <li class="">
                  <%= link_to("Sign up", new_user_registration_path, class: "sign-up") %><br />
                </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>


        <nav class="navbar navbar-expand-md navbar-light bg-light">
          <div class="container nav-container">
            <%= link_to "master medium", root_path, class: "navbar-brand caps" %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav  ml-auto taj-nav-link">
                <li class="nav-item  nav-link  active">
                  <%= link_to "Home", root_path, :class => current_class?(root_path) %>
                </li>
                <li class="nav-item nav-link ">
                  <%= link_to "Products", products_path, :class => current_class?(products_path) %>
                </li>
                <li class="nav-item nav-link">
                  <%= link_to "About", simple_pages_about_path, :class => current_class?(simple_pages_about_path) %>
                </li>
                <li class="nav-item nav-link">
                  <%= link_to "Contact", simple_pages_contact_path, :class => current_class?(simple_pages_contact_path) %>
                </li>
                <li class="nav-item nav-search">
                  <%= form_with(url: products_path, method: 'get', local: true) do |form| %>
                    <%= form.text_field :q, id: 'q', value: params[:q] %>
                    <%= form.submit 'Search' %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>

    <%# <% if notice %>
      <!-- <p id="notice" class="alert alert-primary"><%# notice %></p> -->
    <%# <% end %>
    <%# <% if alert %>
      <!-- <p id="alert" class="alert alert-danger"><%# alert %></p> -->
    <%# <% end %>

    <% unless flash.empty? %>
	  <script type="text/javascript">
	      <% flash.each do |f| %>
	      <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
	     	 toastr['<%= type %>']('<%= f[1] %>');
	      <% end %>
	  </script>
	 <% end %>

    <div class="yield">
      <%= yield %>
    </div>

    <%= image_tag("cactus2.png", id: "img-sm") %>
    <%= image_tag("cactus2.png", id: "img-sm-2") %>

    <footer class="center">
      &copy; <%= Date.today.year %> MasterMedium
    </footer>
    <!-- </div><!--/wrapper-->
    
  </body>
</html>
